@{
    ViewData["Title"] = "Home Page";
}


<h1>Welcome to SociEmoti</h1>


<p>What would you like to do?</p>

<a asp-area="" asp-controller="Account" asp-action="Login">Login</a>

<a asp-area="" asp-controller="Account" asp-action="Register">Register</a>


