@model IEnumerable<WebApplication.Web.Models.Scenario.Scenario>

@{
    ViewData["Title"] = "Index";
}

<h2>Assignments</h2>
<a asp-action="Review" class="navigation">Review past assignments</a>

<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>
                Scene
            </th>
            <th>
                Description
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            if (item.IsActive == true)
            {
                <tr>
                    <td><img src=~/images/@item.ImageName style="height: 20%;"></td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @item.Description
                    </td>
                    <td>
                        <button id="begin-assignment">@Html.ActionLink("Start Assignment", "scenario", new { id = item.Id })</button>
                    </td>
                </tr>
            }

        }
    </tbody>
</table>

