@model WebApplication.Web.Models.Scenario.Answer

@{
    ViewData["Title"] = "Response";
}

<div class="flex-container">
    <div class="response">
        <dl id="response-text">
            <dd>
                You answered:
            </dd>
            <dd id="student-answer">
                @Html.DisplayFor(model => model.AnswerText)
            </dd>
            <br />
            <dd>
                @Html.DisplayFor(model => model.ResponseText)
            </dd>
        </dl>
    </div>
    <div id="response-image">
        <img src=@Model.ResponseImage id="response-image">
    </div>
</div>
<nav class="navigation">
    <a asp-action="NextScenario" asp-route-id="@Model.ScenarioId">Next Scene</a>
</nav>
