@model WebApplication.Web.Models.Scenario.Review
@{
    ViewData["Title"] = "TeacherReview";
    List<Review> studentReviews = TempData["Reviews"] as List<Review>;
}

<h2>Teacher Review of Student Views</h2>






