/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.answer {
    background-color: green;
    color: white;
    padding: 14px 25px;
    margin: 5px 0px 5px 0px;
    text-align: center;
    display: inline-block
}

    .answer:hover {
        background-color: red;
        text-decoration: none !important;
        color: white;
    }

.scenario-image {
    height: 350px;
    width: 500px;
}

.page {
    margin-top: 150px;
}

.response {
    display: grid;
    grid-auto-rows: 1fr 1fr;
    margin: 30px 80px 30px 0px;
    grid-template-areas: 'text image'
}

#response-image {
    display: inline-block;
    grid-area: image;
    margin: 0px;
    height: 50%;
    width: 50%;
}

#response-text {
    grid-area: text;
    margin: 0px;
}
