/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.flex-container {
    display: flex;
    flex-wrap: nowrap;
    margin: 2%;
}

.answer {
    background-color: darkblue;
    padding: 14px 25px;
    margin: 5px 0px 5px 0px;
    text-align: center;
    display: inline-block;
    border-radius: 25px;
    font-weight: 700;
    color: white;
}

    .answer:hover {
        background-color: green;
        text-decoration: none !important;
        color: white;
    }

.scenario-image {
    width: 50%;
}

.page {
    margin-top: 150px;
}

    .flex-container > div {
        width: 50%;
        margin: 10px;
        text-align: center;
        line-height: 75px;
        font-size: 30px;
        justify-content: center;
        align-items: center;
    }

#response-image {
    width: auto;
}

dd {
    text-align: center;
    justify-content: center;
    margin-top: 10%;
}

nav {
    font: bold 20px arial, verdana;
}

<<<<<<< HEAD


=======
body{
    background-color: lightgoldenrodyellow;
}
>>>>>>> c5837fbb946393259dca343f391cfbc02c1ba347
